[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
myplotlib = "*"
nltk = "*"
networkx = "*"
pyvis = "*"
pymupdf = "*"
pathlib = "*"
spacy = "*"
langdetect = "*"
pycld2 = "*"
scikit-learn = "*"
pandas = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
